<template name="tweetsHtag">
  <div class="row">
    <form class="hashtag col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="hash" type="text" name="text" class="validate">
          <label for="hash">Hash Tag</label>
        </div >
        <div class="col s3 offset-s3">
          <a class="deleteAll waves-effect waves-light btn red accent-2">
            <i class="mdi-action-delete"></i>Remove All Data</a>
        </div>
      </div>
    </form>
  </div>
</template>
